@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');


/* --- RESET --- */

:root {
    --clr-black: #1c1c1c;
    --clr-gray: #f39b9b97;
    --clr-white: #f7f7f7;

    --type-normal: #A8A878;
    --type-fire: #F08030;
    --type-water: #6890F0;
    --type-grass: #78C850;
    --type-electric: #F8D030;
    --type-ice: #98D8D8;
    --type-fighting: #C03028;
    --type-poison: #A040A0;
    --type-ground: #E0C068;
    --type-flying: #A890F0;
    --type-psychic: #F85888;
    --type-bug: #A8B820;
    --type-rock: #B8A038;
    --type-ghost: #705898;
    --type-dark: #705848;
    --type-dragon: #7038F8;
    --type-steel: #B8B8D0;
    --type-fairy: #F0B6BC;

    --bg-dark:#66130f;
    --bg-light:#a1231cd6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--clr-black);
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style-type: none;
}

button {
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

/* --- */

.box {
    display: grid;
    grid-template-areas: 
        "header main main";
    grid-template-columns: 200px 1fr;

}

#header {
    background-color: var(--bg-dark);
    position: relative;
    min-height: 100vh;
}

#header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 9px 0px 10px rgba(187, 38, 38, 0.6); 
    z-index: -1; 
}

.nav {
    box-shadow: 2px 0 8px var(--bg-light);
    display: flex;
    flex-direction: column;
    padding: .5rem;
    align-items: flex-start;
    min-height: 100vh;
}

.nav-list {
    display: flex;
    flex-direction: column;
    gap: .4rem;
    width: 100%;
}

.btn-nav {
    padding: .3rem;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0 0 1rem rgba(0,0,0,.25);
    transition: .2s;
}

.btn-nav:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 0 2rem rgba(0,0,0,.25);
}

.nav-item {
    width: 100%;
}

.nav > img {
    margin: auto;
    padding: .3rem;
}



.all {
    width: 100%;
    background-color: #e4e4f0c6;
}

.normal {
    width: 100%;
    background-color: var(--type-normal);
    color: var(--clr-black);
}

.fire {
    width: 100%;
    background-color: var(--type-fire);
    color: var(--clr-black);
}

.water {
    width: 100%;
    background-color: var(--type-water);
    color: var(--clr-white);
}

.grass {
    width: 100%;
    background-color: var(--type-grass);
    color: var(--clr-black);
}

.electric {
    width: 100%;
    background-color: var(--type-electric);
    color: var(--clr-black);
}

.ice {
    width: 100%;
    background-color: var(--type-ice);
    color: var(--clr-black);
}

.fighting {
    width: 100%;
    background-color: var(--type-fighting);
    color: var(--clr-white);
}

.poison {
    width: 100%;
    background-color: var(--type-poison);
    color: var(--clr-white);
}

.ground {
    width: 100%;
    background-color: var(--type-ground);
    color: var(--clr-black);
}

.flying {
    width: 100%;
    background-color: var(--type-flying);
    color: var(--clr-black);
}

.psychic {
    width: 100%;
    background-color: var(--type-psychic);
    color: var(--clr-black);
}

.bug {
    width: 100%;
    background-color: var(--type-bug);
    color: var(--clr-black);
}

.rock {
    width: 100%;
    background-color: var(--type-rock);
    color: var(--clr-black);
}

.ghost {
    width: 100%;
    background-color: var(--type-ghost);
    color: var(--clr-white);
}

.dark {
    width: 100%;
    background-color: var(--type-dark);
    color: var(--clr-white);
}

.dragon {
    width: 100%;
    background-color: var(--type-dragon);
    color: var(--clr-white);
}

.steel {
    width: 100%;
    background-color: var(--type-steel);
    color: var(--clr-black);
}

.fairy {
    width: 100%;
    background-color: var(--type-fairy);
    color: var(--clr-black);
}

body {
    min-height: 100vh;
}

/* card */

#main {
    background-color: var(--bg-dark);
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.containerImg img {
    width: 100%;
    max-width: 6rem;
}

.containerImg {
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
}

#listPokemon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
}

.card {
    width: 300px;
    max-height: 250px;
    border-radius: 1rem;
    background-color: var(--bg-light);
    box-shadow:  6px 0px 6px rgba(187, 38, 38, 0.6); 
    /*box-shadow: 0 0 3rem -1rem rgba(0,0,0,.25); */
    padding-block: 1rem;
    text-transform: uppercase;
    position: relative;
    isolation: isolate;/*le indicamos que aunque el hijo tengo un z-index no irá nunca más para atrás del padre*/
    overflow: hidden; /*para que no se vea lo que sobresale el hijo del padre*/
}

.idBack {
    position: absolute;
    top: 1rem;
    left: 50%;/*le decimos que desde su inicio se ponga al 50% de su padre*/
    transform: translateX(-50%);/*luego le decimos que tire para atrás la mitad de su ancho y así conseguimos centrarlo*/
    font-size: 6rem;
    font-weight: 800;
    color: var(--clr-gray);
    z-index: -1;
}

.infoPokemon {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-inline: 1rem;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
}

.containerName {
    display: flex;
    align-items: center;
    column-gap: 2rem;
    flex-wrap: wrap;
}

.typesPokemon {
    display: flex;
    gap: .5rem;
    font-size: .75rem;
    font-weight: 500;
    justify-content: center;
}

.type {
    padding: .25rem .5rem;
    border-radius: 100vmax;
}

.statsPokemon {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.status {
    background-color: var(--bg-light);
    padding: .25rem .5rem;
    border-radius: 100vmax;
}
